@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  background-color: #2F5363;
  color: #6A994E;
  font-weight: 300;
  text-align: center;
  z-index: -4;
  margin: 2px;
}

.navbar {
  background: transparent;
  z-index: 9999;
}

.nav-img {
  width: 34px;
  height: 44px;
}

.nav-text {
  font-family: 'Eater', cursive;
  font-size: 25px;
  vertical-align: bottom;
}

.nav-text2 {
  font-family: 'Eater', cursive;
  vertical-align: bottom;
}

.text-left {
  font-size: 12px;
}

/* (A) WRAPPER */
#quizWrap {
  max-width: 80vw;
  margin: 0 auto;
  height: 150px;
}

/* (B) QUESTION */
#quizQn {
  padding: 25px;
  background: #4c93ba;
  color: #fff;
  box-shadow: 8px 8px 20px 5px #1c313a;
}

/* (C) ANSWERS */
#quizAns {
  margin: 20px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

#quizAns input[type=radio] {
  display: none;
}

#quizAns label {
  background: #fafafa;
  border: 1px solid #eee;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  box-shadow: 8px 8px 20px 5px #1c313a;
}

#quizAns label.correct {
  background: #d8ffc4;
  border: 1px solid #60a03f;
}

#quizAns label.wrong {
  background: #ffe8e8;
  border: 1px solid #c78181;
}

/* Footer Section */

#footer a {
  color: #FF934F;
}

#footer a:hover {
  color: #FFEE88;
}

.footer-divider {
  background-position: bottom left;
  background-repeat: repeat-x;
  background-size: contain;
  height: 40vh;
  position: relative;
  bottom: -2px;
}

.footer-content {
  background-color: #000;
  padding: 0;
  height: 200px;
  bottom: 0;
}

.list-inline .social-links {
  margin-bottom: 0;
}

/* Hero Section */

section#hero {
  position: relative;
  height: 100vh;
  background: url("../images/hero-image.jpg") fixed;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: left;
  top: -86px;
}

.hero-column {
  font-family: 'Nosifer', cursive;
  text-align: left;
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  color: #FFEE88;
  text-shadow: 4px 4px 8px #6A994E;
}

.cta-column {
  font-size: 2.8rem;
  margin: 0;
}

/* Main Section */

section#main {
 margin-bottom:270px
}

#main h1 {
  font-size: 3rem;
}

#main h4 {
  font-family: 'Eater', cursive;
  font-size: 1.5rem;
  letter-spacing: 0.3px;
  color: #FFEE88;
  text-shadow: 4px 4px 8px #6A994E;
}

#main p {
  margin-bottom: 2rem;
}

/* About Section */

section#about {
  height: 50vh;
  margin-top:50px;
  font-size: 1.5rem;
}

/* Left Column */
.theme-column {
  text-align: left;
}

/* Right Column */
.team-column {
  text-align: right;
}

.team-column strong {
  font-family: 'Eater', cursive;
  font-size: 1.5rem;
  letter-spacing: 0.3px;
  color: #FFEE88;
  text-shadow: 4px 4px 8px #6A994E;
}

.team-column a {
  text-decoration: none;
  color: #6A994E;
}

.team-column a:hover {
  color: #FFEE88;
}

.about-container {
  margin-top: 4rem;
}